# Food Delivery Data Integration & Analysis

This notebook demonstrates loading CSV, JSON, and SQL data, merging them, and performing analysis.

## Step 1: Import Libraries

In [ ]:

import pandas as pd
import json
import sqlite3

## Step 2: Load Orders CSV

In [ ]:

orders = pd.read_csv("orders.csv")
orders.head()

## Step 3: Load Users JSON

In [ ]:

with open("users.json", "r") as f:
    users_data = json.load(f)

users = pd.DataFrame(users_data)
users.head()

## Step 4: Load Restaurants SQL

In [ ]:

conn = sqlite3.connect(":memory:")
with open("restaurants.sql", "r") as f:
    sql_script = f.read()

conn.executescript(sql_script)
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()

## Step 5: Merge Datasets (LEFT JOIN)

In [ ]:

merged = orders.merge(users, on="user_id", how="left")
final_df = merged.merge(restaurants, on="restaurant_id", how="left")
final_df.head()

## Step 6: Save Final Dataset

In [ ]:

final_df.to_csv("final_food_delivery_dataset.csv", index=False)
print("File saved: final_food_delivery_dataset.csv")

## Step 7: Sample Analysis

In [ ]:

# Total orders by Gold members
final_df[final_df["membership"]=="Gold"].shape[0]